[safe]
	directory = %(prefix)///ucasweb1/Web Class/Christopher.Santiago/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = 91978458+0thedarkweb0@users.noreply.github.com
