.print-off {
	display: none;
}

.hoverImg{
	border: 5px double #8F480D;
}
body{
	color: #000000;
	font: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
header {
	display: none;
}

section {
	width: 100%;
	background-image:url('images/inner_background.gif');
	overflow: hidden;
	margin: auto;
}	

article {
	width: 95%;
	text-align: center;
}

footer {
	display: none;
}
.logoleft{
	float: left;
	padding-left: 15px;
}
nav {
		display: none;
		
}
nav a{
	line-height:250%; 
	color: #FFFFFF; 
	font-weight: bold; 
	font-size: 17px; 		
	text-decoration: none;
	width: 100%
}
nav a:hover{
	color: yellow;
	border: 2px outset ; 
}
img{
	display:none;
}
.floatright{float: right; 
    border: 5px double ; 
    margin-left: 5px; 
    margin-top: 15px; 
    margin-right: 5px;
    }
.floatleft{float: left; 
    border: 5px double ; 
    margin-left: 5px; 
    margin-top: 5px; 
    margin-right: 5px;
    }
.center{
	text-align: center;
	align-content: center;
}
